*{
   margin: 0;
    font-family: 'Roboto', sans-serif;

}

/* Header */
header{
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 380px;
    height: 100px;
}

.logo{
    width: 200px;
}
/* Fine Header */

/* Contenitore pagina */
.contenitore-pagina{
    margin: auto;
    width: 1400px;
    padding:10px
}
/* Contenitore Pagina */

/* Prima Section */
.logo{
    margin:30px 260px;
}
.contenitore-titolo{
font-size: 40px;
}
.contenitore-autore{
    font-size: small;
    color: grey;
}
.autore{
    color: #4ea0ff;
}
/* Fine Prima Section */

/* Seconda Section */
.contenitore-biofoto{
    font-size: small;
}
/* /Seconda Section */

/* Terza Section */
.bio-uno{
padding: 10px 0px;
}
.span-yellow{
    background-color: yellow;
}
/* /Terza Section */