*{
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

/* Header */
header{
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 380px;
    height: 100px;
}

.logo{
    width: 200px;
}
/* Fine Header */

/* Prima Section */
main,.logo{
    margin: 30px 250px;
}
.contenitore-titolo{
font-size: 40px;
}
.contenitore-autore{
    font-size: small;
    color: grey;
}
.autore{
    color: #4ea0ff;
}
/* Fine Prima Section */